# Основная переменная безопасности
SESSION_SECRET=

# Почта (если понадобится отправка писем)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Telegram (можно подключить позже)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# База данных (если понадобится в будущем)
DATABASE_URL=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=